# Python
__pycache__/
*.pyc
*.db
backend/app/uploads/*
!backend/app/uploads/.gitkeep
backend/server.log
backend/venv/
backend/.venv/

# Node
node_modules/
frontend/dist/
frontend/preview.log
frontend/.env.local

# OS
.DS_Store
Thumbs.db
